/* base */

#wrapper{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	width: 1000px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	background-color: #fff;
	box-shadow: 2px 2px 5px #606060;

}

body{
	background-image: url('Louis-Tomlinson-onstage-at-Away-From-Home-Festival.jpg');
	background-size: cover;
	background-position: center;
}

header{
	grid-area: 1 / 2 / 2 / 3 ;
	text-align: center;
	
	background-image: url('Louis-Tomlinson-smiley.jpg');
	background-repeat: no-repeat;
	background-position: calc(100% - 20px) center;
	background-size: 80px;
}

nav{
	grid-area: 2 / 2 / 3 / 3;
	text-align: center;
	
	background-color: rgb(255, 245, 245);
	padding: 5px;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li{
	 display: inline-block;
	 margin: 10px;
}

nav ul li a{
	text-decoration: none;
	color: #971712;
	padding: 10px;
}

nav ul li a:hover {
	background-color: #971712;
	color: white;
	border-radius: 10px;
}

article{
	grid-area: 3 / 1 / 4 / 4;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
}

article p a{
	color: #971712;
}

article p a:hover{
	color: #b2991d;
}

footer{
	grid-area: 5 / 1 / 6 / 4;
	text-align: center;
	padding-top: 5px;
}

footer::before {
	content: "";
	display: block;
	width: 90%; 
	margin: 0 auto auto;
	border-top: 1px solid #971712;
}



/* boutons back et next */

.button-right {
  margin-top: 15px;
}

.button-right a{
  background-color: #971712;
  color: white;
  padding: 7px 12px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: white;
}

.button-right a:hover {
	background-color: #7f0e0e;
}

.back-button{
	margin-right: 3px;
}



/* nav (savoir sur quelle page on se trouve) */

.current a{
	background-color: #971712;
	color: white;
	border-radius: 10px;
}



/* image album et liste */

.image-text-container {
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.album-cover {
	width: 260px; 
	border: 1px solid #fff;
	border-radius: 8px;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
	padding: 5px;
	
	animation: bounceIn 1.5s ease-in-out forwards;
}

.album-description ul {
	list-style-type: none;
	padding-left: 0;
}

.album-description ul li::before {
	content: " ✩ ";
	margin-right: 5px;
}



/* transition album */

@keyframes bounceIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    transform: scale(1.01);
    opacity: 1;
  }
  80% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}
