/* base */

#wrapper{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	width: 1000px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	background-color: #fff;
	box-shadow: 2px 2px 5px #606060;
}

body{
	background-image: url('../images/Louis-Tomlinson-onstage-at-Away-From-Home-Festival.jpg');
	background-size: cover;
	background-position: center;
}

header{
	grid-area: 1 / 2 / 2 / 3 ;
	text-align: center;
	
	background-image: url('../images/Louis-Tomlinson-smiley.jpg');
	background-repeat: no-repeat;
	background-position: calc(100% - 20px) center;
	background-size: 80px;
}



nav{
	grid-area: 2 / 2 / 3 / 3;
	text-align: center;
	
	background-color: rgb(255, 245, 245);
	padding: 5px;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li{
	 display: inline-block;
	 margin: 10px;
}

nav ul li a{
	text-decoration: none;
	color: #971712;
	padding: 10px;
}

nav ul li a:hover {
	background-color: #971712;
	color: white;
	border-radius: 10px;
}

article{
	grid-area: 3 / 1 / 4 / 4;
	margin-left: 10px;
	margin-right: 10px;
}

article p a{
	color: #971712;
}

article p a:hover{
	color: #b2991d;
}

aside{
	grid-area: 4 / 1 / 5 / 4;
	background-color: #f4f4f4;
	border-left: 4px solid #971712;
	margin-left: 10px;
	margin-right: 10px;
}

article, aside{
	padding: 10px;
}

footer{
	grid-area: 5 / 1 / 6 / 4;
	text-align: center;
	margin-top: 15px;
}

footer::before {
  content: "";
  display: block;
  width: 90%; 
  margin: 0 auto auto; /* Centrer la bordure et ajouter de l'espace en bas */
  border-top: 1px solid #971712;
}

/* nav (savoir sur quelle page on se trouve) */

.current a{
	background-color: #971712;
	color: white;
	border-radius: 10px;
}